# Python virtual environment
venv/
env/
ENV/

# Python cache files
__pycache__/
*.pyc

# Django files
db.sqlite3

# Node modules (React frontend)
node_modules/

# Environment variables
.env

# VS Code settings
.vscode/